.cart-widget {
  font-size: 1.5rem;
  color: $cart-bc;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: baseline;
  justify-content: space-between;
}

.cart-icon {
  padding: 0px;
}

.cart-counter {
  padding: 5px;
}

.cart-total {
  padding: 5px;
}

.cartCounter {
  font-size: 0.8rem;
  color: $cart-bc;
}

.cartTotal {
  font-size: 0.8rem;
  color: $cart-bc;
}

.cart-hidden {
  opacity: 0;
  visibility: hidden;
}
