$header-bc: #222831;
$footer-bc: #393e46;
$brand-colour: #eeeeee;
$main-bc: #eeeeee;
$btn-colour-1: #393e46;
$btn-colour-2: #8b9a46;
$nav-link-colour: #eeeeee;
$txt-btn: #eeeeee;
$hover-colour: white;
$hover-colour-nav: #8b9a46;
$title-colour: #393e46;
