$header-bc: #222831;
$footer-bc: #393e46;
$btn-colour: #393e46;
$btn-colour-2: #8b9a46;
$main-bc: #eeeeee;
$brand-colour: #eeeeee;
$nav-link-colour: #eeeeee;
$txt-btn: #eeeeee;
$btn-cart-bc: #00adb5;
$cart-bc: #00adb5;
$hover-colour: #00adb5;
$title-colour: #393e46;
