@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&family=Roboto:wght@100&display=swap");

.header {
  background-color: $header-bc;
}

.nav {
  justify-content: space-between;
}

.navbar-brand {
  margin-left: 20px;

  .header-link-brand {
    text-decoration: none;
  }

  .header-link-brand h1 {
    margin: 0px;
    font-family: "Roboto", sans-serif;
    font-size: 2rem;
    font-weight: bolder;
    text-transform: uppercase;
    color: $brand-colour;
  }
}

.header-link {
  margin-left: 10px;
  margin-right: 10px;
  padding: 5px;
  font-size: 1rem;
  color: $nav-link-colour;
  font-family: "Roboto", sans-serif;
  font-weight: thin;
  text-align: center;
  text-decoration: none;
}

.header-link:hover {
  color: $hover-colour;
}
