@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap");

.header {
  padding: 10px;
  background-color: $header-bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h1 {
  padding-left: 10px;
  margin: 0px;
  text-align: center;
  font-family: "Poppins", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: $brand-colour;
}

.navbar-brand h1:hover {
  color: $hover-colour;
}

.nav-link {
  margin: 1px;
}

.nav-link h3 {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  font-weight: lighter;
  font-size: 1rem;
  color: $nav-link-colour;
  cursor: pointer;
}

.nav-link h3:hover {
  color: $hover-colour;
}
