.header {
  padding: 10px;
  background-color: #1d1d1b;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h1 {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: #abb8c3;
}

.navbar-brand h1:hover {
  color: #8c734b;
}

.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-link {
  margin: 1px;
}

.nav-link h3 {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: #484f4f;
  cursor: pointer;
}

.nav-link h3:hover {
  color: #8c734b;
}
