.header {
  padding: 10px;
  background-color: $header-bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-brand h1 {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  font-size: 2rem;
  font-weight: 500;
  color: $brand-colour;
}

.navbar-brand h1:hover {
  color: $hover-colour;
}

.header-nav {
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}

.nav-link {
  margin: 1px;
}

.nav-link h3 {
  margin: 0px;
  font-family: "Quicksand", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 400;
  color: $nav-link-colour;
  cursor: pointer;
}

.nav-link h3:hover {
  color: $hover-colour;
}
