.footer-container {
  background-color: $footer-bc;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.footer-link-brand a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  font-weight: lighter;
  color: $brand-colour;
}

.copywrite a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  font-size: 0.8rem;
  color: $brand-colour;
}
